# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Azure Functions
local.settings.json
.python_packages
.venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db
